.hp-hero__marquee__title {
	line-height: 72px;
}

.brand-marquee {
	overflow: hidden;
	width: 100%;
}

.marquee-track {
	display: flex;
	white-space: nowrap;
}

.marquee-item {
	flex: 0 0 auto;
}

// .image-spin {
// 	animation: spin 5s linear infinite;
// }

// @keyframes spin {
// 	from {
// 		transform: rotate(0deg);
// 	}

// 	to {
// 		transform: rotate(-360deg);
// 	}
// }
