// Bricolage Grotesque - Medium (500)
// -----------------------------------------------------------------------------
@font-face {
	font-display: swap;
	font-family: 'Bricolage Grotesque';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/bricolage-grotesque/BricolageGrotesque-Medium.woff2') format('woff2');
}

// DM Sans - Regular (400)
// -----------------------------------------------------------------------------
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/dm-sans/DMSans-Regular.woff2') format('woff2');
}

// DM Sans - Bold (700)
// -----------------------------------------------------------------------------
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/dm-sans/DMSans-Bold.woff2') format('woff2');
}
