@use '../global' as *;

.experiences-item {
	border-bottom: 1px solid $graphic-default;
	padding-bottom: 24px;

	&:last-child {
		border-bottom: unset;
		padding-bottom: unset;
	}

	@media (max-width: 767px) {
		padding-bottom: 16px;
	}
}
