@use '../global' as *;

.tag {
	border-radius: 9999px;
	height: fit-content;
	padding: 4px 12px;
	text-transform: capitalize;
	white-space: nowrap;
	width: fit-content;

	&--primary {
		@include body-m;
		background-color: $surface-background-80;
		border: 1px solid $graphic-default;
		color: $text-highlight;
	}
}
