@use '../global' as *;

.header {
	backface-visibility: hidden; // Prevent flickering during animations
	background-color: $surface-background;
	left: 8px;
	max-width: calc(100vw - 16px); // Ensure it doesn't exceed viewport width
	opacity: 1 !important;
	pointer-events: auto; // Ensure header is interactive
	position: fixed !important;
	right: 8px;
	top: 8px;
	visibility: visible !important;
	width: calc(100vw - 16px); // Account for body padding
	will-change: transform; // Optimize for animations
	z-index: 50;
	/* Ensure header is always above page transition overlay */
	&:hover {
		z-index: 10001 !important;
	}



	&__logo {
		background-color: $surface-primary;
		border-radius: 16px;
		padding: 12px;
	}

	&__badge {
		background-color: $surface-dark;
		border-radius: 9999px;
		color: $text-secondary-light;
		font-family: $font-family-body;
		font-size: 12px;
		line-height: 12px;
		padding: 2px 12px;
		position: absolute;
		right: -8px;
		top: -8px;
	}

	&__badge-mobile {
		background-color: $surface-dark;
		border-radius: 9999px;
		color: $text-secondary-light;
		font-family: $font-family-body;
		font-size: 12px;
		line-height: 12px;
		padding: 2px 12px;
		position: absolute;
		right: -32px;
		top: 0;
	}
}
