@use '../global' as *;

.header {
	background-color: $surface-background;
	left: 0;
	left: 8px;
	position: fixed;
	right: 8px;
	top: 8px;
	transition: transform 0.3s ease-in-out;
	z-index: 1000;

	&__logo {
		background-color: $surface-primary;
		border-radius: 16px;
		padding: 12px;
	}

	&__badge {
		background-color: $surface-dark;
		border-radius: 9999px;
		color: $text-secondary-light;
		font-family: $font-family-body;
		font-size: 12px;
		line-height: 12px;
		padding: 2px 12px;
		position: absolute;
		right: -8px;
		top: 0;
	}

	&__badge-mobile {
		background-color: $surface-dark;
		border-radius: 9999px;
		color: $text-secondary-light;
		font-family: $font-family-body;
		font-size: 12px;
		line-height: 12px;
		padding: 2px 12px;
		position: absolute;
		right: -32px;
		top: 0;
	}
}
